/dist
node_modules
*.d
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
.vscode
.DS_Store
.npmrc
libs
libs_audio_pipeline
libs_df
release/*.zip
.build
Package.resolved
.swiftpm